$palettes: (
    blue: (
      darker: hsl(201, 61%, 34%),
      dark: hsl(198, 57%, 39%),
      base: hsl(196, 59%, 42%),
      light: hsl(194, 56%, 51%),
      lighter: hsl(192, 61%, 53%),
    ),
    grey: (
      dark: hsl(202, 57%, 15%),
      base: hsl(201, 23%, 34%),
      light: hsl(203, 15%, 37%),
    ),
);

@function color($color,$tone){
  @if map-has-key($palettes,$color){
    $color: map-get($palettes,$color);

    @if map-has-key($color,$tone){
      $tone: map-get($color,$tone);
      @return $tone;
    }

    @warn "unknown tone `#{$tone}` in color";
    @return null;        
  }

  @warn "unknown color `#{$color}` in palette";
  @return null;
}

