$palettes: (
    // primary
    blue: (
      darkest: hsl(215, 95%, 20%),
      darker: hsl(211, 70%, 35%),
      dark: hsl(205, 60%, 40%),
      base: hsl(203, 50%, 50%),
      light: hsl(201, 65%, 65%),
      lighter: hsl(200, 80%, 80%),
      lightest: hsl(199, 80%, 90%),
    ),
    // neutral
    grey: (
      darkest: hsl(0, 0%, 15%),
      darker: hsl(0, 0%, 28%),
      dark: hsl(0, 0%, 33%),
      base: hsl(0, 0%, 50%),
      light: hsl(0, 0%, 68%),
      lighter: hsl(0, 0%, 83%),
      lightest: hsl(0, 0%, 98%),
    ),
    // accent
);

@function color($color, $tone){
  @if map-has-key($palettes, $color){
    $color: map-get($palettes, $color);

    @if map-has-key($color, $tone){
      $tone: map-get($color, $tone);
      @return $tone;
    }

    @warn "unknown tone `#{$tone}` in color";
    @return null;        
  }

  @warn "unknown color `#{$color}` in palette";
  @return null;
}

