body {
  font-family: 'Roboto', sans-serif;
}

.large-font {
  font-size: 2em;
  font-weight: 700;
  color: color(grey, 'darkest');
}

.normal-font {
  font-size: 18px;
  font-weight: 400;
  color: color(grey, 'darker');
}

.small-font {
  font-size: 14px;
  font-weight: 400;
  color: color(grey, 'dark');
}

